.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 10px;
}