.navbar {
  flex-direction: column-reverse;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.logo {
  position: absolute;
  left: 10px;
  top: 20px;

  @media (min-width: 640px) {
    position: static;
  }
}
